.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: end;
}

.wrapper h1 {
    color: #000;
    margin-left: 3%;
    font-size: clamp(1.25rem, -1.188rem + 5.42vw, 3.438rem);
}

.wrapperimg {
    width: 10%;
}

.border {
    border-top: 1px #000 solid;
    margin-bottom: 15%;
}

.nav {
    display: flex;
    margin-top: 5%;
    margin-bottom: 3%;
}

.nav li {
    margin-right: 5%;
    font-size: clamp(0.75rem, -0.086rem + 1.86vw, 1.5rem);
}

.center{
    text-align: center;
    font-size: clamp(0.75rem, -0.086rem + 1.86vw, 1.5rem);
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width:720px) {

    .nav {
        display: block;
    }

    
}