.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
}

.wrapper h1 {
    color: #000;
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 30px;
}

.center{
    text-align: center;
}