.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    width: 38%;
}

.logo {
    width: 8%;
}

@media screen and (max-width:1024px){
    .navlinks {
        width: 55%;
    }
}